[Desktop Entry]
Name=Audacious
Comment=Play music
Comment[hu]=Zene lejátszása
Exec=audacious
Icon=audacious.png
MimeType=audio/prs.sid;
Categories=GTK;AudioVideo;Player;
Terminal=false
Type=Application
NoDisplay=true
